.heading{
    justify-content: center;
    color: rgb(92, 92, 71);
    display: flex;
    padding: 4px 2px 4px 2px;
}

table,td,tr,th{
    border: 1px solid;
    border-color: black;
    text-align: left;
}

.simple-table tr td:last-child {
    color: rgb(239, 17, 17);
}
input [value*=hello]{
    color: rgb(253, 114, 79);
    background: #000;
}